h2 {
  margin:20px;
}
h4 {
  font-weight:bold;
}
form {
  display:inline-block;
}
a{
  color:white;
}
a:hover {
  color:white;
}

/*nav*/
.navbar-brand {
  padding:5px;
  width:144px;
}
#heartland-logo {
    height:65px;
    display:block;
    margin:-13px;
}
.logo {
  height:45px;
  padding:5px;
  margin-left:10px;
}

/*dashboard*/
.margin-top {
  margin-top:15px;
}
.btn {
  width:100%;
}
.btn-group {
  padding:5px;
}
.btn-group.open > button < ul {
  left:0;
  right:0;
  width:100%;
}
.prettycheckbox>a.checked {
  background-position: 0 -60px;
}
.checkbox input[type=checkbox] {
position:absolute;
margin-left:-20px;
}
.prettycheckbox>a {
background:url(images/checkbox-sprites@1x.png);
}
.checkbox label {
  padding-left:0px;
  cursor:pointer;
  color:white;
  font-size:17px;
}
.prettycheckbox label {
  display:inline-block;
  max-width:100%;
  margin:3px 0px;
}
.button {
  height:90px;
}
.nav-tabs {
  background:transparent;
  border:none;
}
.nav-tabs > li > a {
  padding:18px 23px;
  border:0px solid transparent;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  outline-style:solid;
  outline-offset: 0px;
  outline-color: #efefef;
  outline-width: 10px;
  border:0px solid transparent;
}

/*expanded content*/
.display-inline {
  display:inline-block;
  margin:10px;
}
.dropdown {
  position:static;
}
.dropdown-toggle{
  border:0px transparent;
  height:75px;
}
.dropdown-menu {
  width:100%;
  text-align:center;
}
.dropdown-menu>li {
  display:inline-block;
}
.dropdown-button {
  width:10%;
  display:inline-block;
  float:right;
  margin:10px;
  margin-top:40px;
}
.form-control {
  margin-bottom:10px;
}
.panel-body {
  background-color:#efefef;
  float:none;
  margin-top:10px;
}
#myDropdown1 {
  background-color:#184b86;
} 
#myDropdown2 {
  background-color:#3989e3;
}
#myDropdown3 {
  background-color:#85c4b9;
} 
#myDropdown4 {
  background-color:#36b46e;
} 

/*modal*/
.well {
  padding:25px;
  color:white;
  height:86px;
  background-color:#36b46e;
}
.well p {
  display:inline-block;
  margin-top:3px;
  font-size:18px;
}
button.close {
  margin-top:3px;
  font-weight:bold;
  text-shadow:0 1px 0 #fff;
  opacity:.2;
  font-family:sans-serif;
}