h2 {
  margin:20px;
}
h4 {
  font-weight:bold;
}
a{
  color:white;
}
a:hover {
  color:white;
}
.col-md-12 {
  margin:auto;
  float:none;
}
/*nav*/
.navbar-brand {
  padding:5px;
  width:144px;
}
#heartland-logo {
    height:65px;
    display:block;
    margin:-13px;
}
.logo {
  height:45px;
  padding:5px;
  margin-left:10px;
}

/*dashboard*/
.margin-top {
  margin-top:15px;
}
.btn {
  width:100%;
}
.btn-group {
  padding:5px;
}
.btn-group.open > button < ul {
  left:0;
  right:0;
  width:100%;
}
.prettycheckbox>a {
background:url(images/checked-fill.svg);
margin-right:8px;
}
.prettycheckbox.unenrolled>a {
background:url(images/x.svg);
margin-right:8px;
}
.prettycheckbox.enrolled>a {
background:url(images/checked-fill.svg);
margin-right:8px;
}
.checkbox {
  margin-top:0px;
  margin-bottom:0px;
}
.prettycheckbox label {
  display:inline-block;
  max-width:100%;
  margin:3px 0px;
  padding-left:0px;
  cursor:pointer;
  color:white;
  font-size:17px;
  font-weight:initial;
}
.button {
  height:70px;
}
.nav-tabs {
  background:transparent;
  border:none;
}
.nav-tabs li {
  padding:5px 3px;
}
.nav-tabs > li > a {
  padding:18px 23px;
  border:0px solid transparent;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  outline-style:solid;
  outline-offset: 0px;
  outline-color: #efefef;
  outline-width: 8px;
  border:0px solid transparent;
}
@media screen and (max-width:1200px) and (min-width:700px) {
  .col-md-3 {
    width:50%;
  }
}

/*expanded content*/
.display-inline {
  display:inline-block;
  margin:10px;
}
.display-block {
  display:block;
}
.dropdown {
  position:static;
}
.dropdown-toggle{
  border:0px transparent;
  height:75px;
}
.dropdown-menu {
  width:100%;
  text-align:center;
}
.dropdown-menu>li {
  display:inline-block;
}
.dropdown-button {
  width:30%;
  display:inline-block;
}
.btn-primary {
  float:right;
}
.form-control {
  margin-bottom:10px;
}
.panel-body {
  background-color:#efefef;
  float:none;
  margin-top:4px;
}
#myDropdown1 {
  background-color:#184b86;
} 
#myDropdown2 {
  background-color:#3989e3;
}
#myDropdown3 {
  background-color:#85c4b9;
} 
#myDropdown4 {
  background-color:#36b46e;
} 

/*modal*/
#collapseExample4 .well {
  height:120px;
}
#collapseExample4 .btn {
margin:auto;
float:none;
}
.modal-body button {
  width:200px;
  float:none;
  margin:20px;
}
.modal-body {
  font-size:18px;
}
.well {
  padding:25px;
  color:white;
  height:86px;
  margin-bottom:0px;
  border:none;
}
.well p {
  display:inline-block;
  margin-top:3px;
  font-size:18px;
  vertical-align: top;
}
.close {
  opacity:.6;
}
button.close {
  background-image:url(images/x-button.svg);
  width:30px;
  height:30px;
  background-repeat:no-repeat;
}
button.close:hover {
  background-image:url(images/x-button-hover.svg);
}
.pole {
  height:70px;
}